---
import type { Category } from "../categories";

export interface Props {
  categories: Category[];
  activeId?: string;
}

const { categories, activeId } = Astro.props;
---

<nav aria-label="Categories">
  <ul class="category-list">
    {
      categories.map((category) => {
        const active = category.link === activeId;
        return (
          <div>
            <li class="category-list-item">
              <a
                aria-current={active ? "page" : undefined}
                class={`category-link ${active ? "current" : ""}`}
                href={`/category/${category.link}`}
              >
                {category.name}
              </a>
            </li>
            {active && <div class="active-indicator" />}
          </div>
        );
      })
    }
  </ul>
</nav>
<style>
  .category-list {
    font-size: 16px;
    display: flex;
    margin: 0;
    padding: 0;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 20px 30px;
  }
  .category-list-item {
    list-style: none;
  }
  .category-link {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    background-color: #dbeede;
    border: 1px solid var(--color-green1);
  }
  .current {
    background-color: #fac0b1;
    border: 1px solid #fac0b1;
  }
  .active-indicator {
    padding-top: 5px;
    border-bottom: 1px solid var(--color-purple);
  }
</style>
